
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(ViewBag.NomeUsuario != null)
{
    <p>Bem vindo - @ViewBag.NomeUsuario</p>

    if(ViewBag.Mensagem != null)
    {
        <p>@ViewBag.Mensagem</p>
    }
}


